.fix-fieldset-inputs
  .input__control
    .v-input__slot
      fieldset
        color: #000 !important

.fix-cupom-text
  text-decoration: underline
  cursor: pointer
  font-size: 18px
  transition: .2s ease-in

  &:hover
    color: var(--v-secondary-base)