.fix-desatived-painel-complements
  height: 50px !important
  transition: 0.2s ease-in

.fix-active-painel-complements
  height: 100vh !important
  width: 100%
  display: flex
  align-items: flex-start
  transition: 0.3s ease-in
  overflow-y: scroll