.fix--v-slide-group
  height: auto
  .theme--light.v-icon.v-icon.v-icon--disabled
    color: #ffffffb5 !important

  .v-slide-group__wrapper
    order: 0
    width: 100%
    margin-bottom: 20px
    .v-slide-group__content
      margin: 30px 10px !important
  .v-slide-group__prev
    border: 2px solid var(--v-secondary-base)
    background: var(--v-secondary-base)
    border-radius: 60px
    padding: 11px 0
    order: 1
    margin-right: 10px
    margin-left: 30px
    i
      color: #000 !important
  .v-slide-group__next
    border: 2px solid var(--v-secondary-base)
    background: var(--v-secondary-base)
    border-radius: 60px
    padding: 11px 0
    order: 1
    margin-right: 30px
    i
      color: #000 !important

.fix-caroucel-cards
  height: 500px !important
  .v-window__container
    order: 0
    .v-window-item
      .v-carousel__item 
        height: 450px !important
        .v-responsive__content
          display: flex
          justify-content: center
    .v-window__prev
      opacity 1 !important
      width: 56px
      height: 56px
      border-radius: 28px
      position: absolute !important
      top: calc(103px - -340px) !important
      left: -15px !important
      background-color: var(--v-secondary-base)
      button
        width: 100%
        height: 100%
        i
          color: #000
          font-size: 30px !important
    .v-window__next
      opacity 1 !important
      width: 56px
      height: 56px
      border-radius: 28px
      position: absolute !important
      top: calc(103px - -340px) !important
      left: 50px !important
      background-color: var(--v-secondary-base)
      button
        width: 100%
        height: 100%
        i
          color: #000
          font-size: 30px !important
